<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <!-- This is the table for Day 1-->
    <!-- A row is deinfed by a <tr> enclosure, a column entry in that row by a <td> enclosure -->
    <table class="table table-striped">
      <tr>
        <td>Before</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank"
            rel="noopener noreferrer">Pre-workshop survey</a> </td>
      </tr>
      <tr>
        <td>8:45</td>
        <td>Arrival and initial set-up help (if needed)</td>
      </tr>
      <tr>
        <td>9:00</td>
        <td><a href="{{ site.intro_slides }}" target="_blank" rel="noopener noreferrer">
            Introduction to the Workshop and Tools</a></td>
      </tr>
      <tr>
        <td>9:30</td>
        <td>
          <a
            href="https://github.com/CurtinIDS/CIDS_Carpentries_Python/blob/main/notebooks/1_Python_Fundamentals.ipynb">
            Python Fundamentals
          </a>
        </td>
      </tr>
      <tr>
        <td>10:15</td>
        <td>Morning Tea</td>
      </tr>
      <tr>
        <td>10:30</td>
        <td>
          <a
            href="https://github.com/CurtinIDS/CIDS_Carpentries_Python/blob/main/notebooks/2_Analysing_Patient_Data.ipynb">
            Analysing Patient Data
          </a>
        </td>
      </tr>
      <tr>
        <td>11:15</td>
        <td><a
            href="https://github.com/CurtinIDS/CIDS_Carpentries_Python/blob/main/notebooks/3_Visualising_Tabular_Data.ipynb">
            Visualising Patient Data
          </a>
        </td>
      </tr>
      <tr>
        <td>12:00</td>
        <td>Lunch break
        </td>
      </tr>
      <tr>
        <td>13:00</td>
        <td><a
            href="https://github.com/CurtinIDS/CIDS_Carpentries_Python/blob/main/notebooks/4_Storing_Multiple_Values_in_Lists.ipynb">
            Storing Multiple Values in Lists
          </a>
        </td>
      </tr>
      <tr>
        <td>14:00</td>
        <td>Afternoon Tea</td>
      </tr>
      <tr>
        <td>14:15</td>
        <td><a
            href="https://github.com/CurtinIDS/CIDS_Carpentries_Python/blob/main/notebooks/5_Repeating_Actions_with_Loops.ipynb">
            Repeating Actions with Loops
          </a>
        </td>
      </tr>
      <tr>
        <td>16:00</td>
        <td>Wrap-up</td>
      </tr>
      <tr>
        <td>16:30</td>
        <td>End of Day 1 </td>
      </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <!-- This is the next table for Day 2-->
    <table class="table table-striped">
      <tr>
        <td>08:45</td>
        <td>Arrival and initial set-up (if needed)</td>
      </tr>
      <tr>
        <td>9:00</td>
        <td>Revision</td>
      </tr>
      <tr>
        <td>9:15</td>
        <td>
          <a
            href="https://github.com/CurtinIDS/CIDS_Carpentries_Python/blob/main/notebooks/6_Analysing_Data_from_Multiple_Files.ipynb">
            Analysing Data from Multiple Files
          </a>
        </td>
      </tr>
      <tr>
        <td>10:15</td>
        <td>Morning Tea</td>
      </tr>
      <tr>
        <td>10:30</td>
        <td>
          <a href="https://github.com/CurtinIDS/CIDS_Carpentries_Python/blob/main/notebooks/7_Making_Choices.ipynb">
            Making Choices
          </a>
        </td>
      </tr>
      <tr>
        <td>11:30</td>
        <td>
          <a href="https://github.com/CurtinIDS/CIDS_Carpentries_Python/blob/main/notebooks/8_Creating_Functions.ipynb">
            Creating Functions
          </a>
        </td>
      </tr>
      <tr>
        <td>12:30</td>
        <td>Lunch break</td>
      </tr>
      <tr>
        <td>13:30</td>
        <td>
          <a
            href="https://github.com/CurtinIDS/CIDS_Carpentries_Python/blob/main/notebooks/9_Data_Analysis_with_Pandas.ipynb">
            Introduction to Pandas
          </a>
        </td>
      </tr>
      <tr>
        <td>14:30</td>
        <td>Afternoon Tea</td>
      </tr>
      <tr>
        <td>14:45</td>
        <td>
          <a
            href="https://github.com/CurtinIDS/CIDS_Carpentries_Python/blob/main/notebooks/9_Data_Analysis_with_Pandas.ipynb">
            Introduction to Pandas cont.
          </a>
        </td>
      </tr>
      <tr>
        <td>16:00</td>
        <td>Wrap-up & <a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank"
            rel="noopener noreferrer">Post-workshop Survey</a>
        </td>
      </tr>
      <tr>
        <td>16:30</td>
        <td>End of Python Day 2</td>
      </tr>
    </table>
  </div>
</div>